body{
        background-color:#EAF6F6;
        }

        hr{
        border-color:grey;
        width:10%;
        border-style:none;
        border-top-style:dotted;
        border-width:8px;
        }
        h1,h3{
        color:#008E89;
        }
}